.status-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.status-container {
    width: 800px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 0;
    scrollbar-width: none; /* Firefox */
    border: none;
}

.status-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  flex-shrink: 0;
}

.status-list {
  padding: 3px;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45,
    #ffdc80
  );
}

.status-list img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: white;
  display: block;
}

.full-name {
  margin-top: 5px;
  max-width: 100%;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.scroll-btn.left {
  left: 5px;
}

.scroll-btn.right {
  right: 5px;
}
