@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Outfit:wght@100..900&display=swap');

.signup{
    width: 400px;
    height: 500px;
    border: 2px solid rgba(160, 155, 155,0.2);
    padding: 20px;
}

.signup h1 {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    text-align: center;
    margin: 20px;
}
.fieldset input{
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
}

form input[type='submit']{
    width: 100%;
    color: white;
    padding: 10px;
    background: #6792ca;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
}
form input[type='submit']:hover{
    cursor: pointer;
    background: #1877F2;
}
.link p{
    margin-top: 10px;
    font-size: 17px;
}
.fieldset .errors{
    margin-top: -20px;
}


@media only screen and (max-width: 500px) {
    .signup {
        width: 90%;             /* Make it responsive */
        height: auto;           /* Let height expand */
        padding: 15px;
        margin: 0 auto;         /* Center on small screens */
    }

    .signup h1 {
        font-size: 2em;       /* Smaller title */
        margin: 10px auto;
    }

    .fieldset input {
        padding: 8px;
        font-size: 0.9em;
    }

    form input[type='submit'] {
        font-size: 1em;
        padding: 10px;
    }

    .link {
        font-size: 0.9em;
    }
}