.navbar {
    width: 250px;
    min-height: 100vh;
    padding: 20px 0;
    position: fixed;
    border-right: 1px solid rgba(19, 1, 1, 0.1);
}
.navbar h1 {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    text-align: left;
    margin: 20px;
}
.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    padding-left: 20px;

}
.navbar ul li{
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    padding: 8px 12px;
    border-radius: 8px;

}
.navbar ul li:hover{

    background-color: rgba(19, 1, 1, 0.1);
    
}
.navbar img{
    width: 24px;
    height: 24px;
}
.navbar ul li {
  cursor: pointer;
}

.navbar ul li img,
.navbar ul li span {
  cursor: pointer;
}