*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #1877F2;
}
.errors{
    color: red;
    text-align: center;
}